BEGIN:VCALENDAR
VERSION:2.0
CALSCALE:GREGORIAN
PRODID:-//SabreDAV//SabreDAV//EN
X-WR-CALNAME:personalDutyRoster
X-APPLE-CALENDAR-COLOR:#499AA2
REFRESH-INTERVAL;VALUE=DURATION:PT4H
X-PUBLISHED-TTL:PT4H
BEGIN:VTIMEZONE
TZID:Europe/Berlin
BEGIN:DAYLIGHT
TZOFFSETFROM:+0100
TZOFFSETTO:+0200
TZNAME:CEST
DTSTART:19700329T020000
RRULE:FREQ=YEARLY;BYMONTH=3;BYDAY=-1SU
END:DAYLIGHT
BEGIN:STANDARD
TZOFFSETFROM:+0200
TZOFFSETTO:+0100
TZNAME:CET
DTSTART:19701025T030000
RRULE:FREQ=YEARLY;BYMONTH=10;BYDAY=-1SU
END:STANDARD
END:VTIMEZONE
<f:if condition="{commitments}"><f:for each="{commitments}" as="commitment">BEGIN:VEVENT
CREATED:<f:format.date format="Ymd" >{commitment.event.crdate}</f:format.date>T<f:format.date format="His" >{commitment.event.crdate}</f:format.date>Z
DTSTAMP:<f:format.date format="Ymd" >{commitment.event.tstamp}</f:format.date>T<f:format.date format="His" >{commitment.event.tstamp}</f:format.date>Z
UID:dutyRoster-{commitment.event.uid}@{domain}
DTSTART;<f:if condition="{commitment.event.allDay}"><f:then>VALUE=DATE</f:then><f:else>TZID=Europe/Berlin</f:else></f:if>:<f:format.date format="%Y%m%d" >{commitment.event.date}</f:format.date><f:if condition="!{commitmentevent.allDay}"><f:format.date format="T%H%M%S" >{commitment.event.time}</f:format.date></f:if>
DTEND;<f:if condition="{commitment.event.allDay}"><f:then>VALUE=DATE</f:then><f:else>TZID=Europe/Berlin</f:else></f:if>:<f:if condition="{commitment.event.allDay}"><f:then><f:format.date format="%Y%m%d" base="{commitment.event.date}"> +1 day</f:format.date></f:then><f:else><f:format.date format="%Y%m%dT%H%M%S" base="{commitment.event.dateTime}"> +{commitment.event.duration} hours</f:format.date></f:else></f:if>
SUMMARY:🚒 {commitment.event.eventType.title -> f:format.htmlspecialchars()}
DESCRIPTION:<f:for each="{commitment.event.visiblePublicUsergroups}" as="ug"  iteration="iter">{ug.title}<f:if condition="!{iter.isLast}">, </f:if></f:for><f:if condition="{commitment.event.description}"> ( {commitment.event.description -> f:format.stripTags()} )</f:if>
END:VEVENT
</f:for></f:if>END:VCALENDAR
