<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:c="http://typo3.org/ns/Cylancer/Participants/ViewHelpers" 
	data-namespace-typo3-fluid="true"
>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
</head>
<body>
<f:layout name="Default" />
<f:section name="content"><div><f:translate key="LLL:EXT:participants/Resources/Private/Language/locallang.xlf:task.personalDutyRosterPlanning.reminderMail.salutation" arguments="{0:user.name}" /></div>

	<div><f:translate key="LLL:EXT:participants/Resources/Private/Language/locallang.xlf:task.personalDutyRosterPlanning.reminderMail.teaser" /></div>
	<ul><f:for each="{events}" as="event"><li><f:format.date format="d.m.Y">{event.date}</f:format.date><f:if condition="!{event.fullDay}"> <f:format.date format="H:i">{event.time}</f:format.date></f:if> :: <strong>{event.eventType.title}</strong><f:if condition="{event.description}"> ( <f:format.htmlentitiesDecode>{event.description}</f:format.htmlentitiesDecode> )</f:if></li></f:for></ul>
	<div><f:translate key="LLL:EXT:participants/Resources/Private/Language/locallang.xlf:task.personalDutyRosterPlanning.reminderMail.footer" /></div> 
	<div><f:translate key="LLL:EXT:participants/Resources/Private/Language/locallang.xlf:task.personalDutyRosterPlanning.reminderMail.regards" /></div> 
</f:section></body></html>  
